
*.apk
*.pdb
*.dll
INFT2051_QuickApp/INFT2051_QuickApp.Android/bin/Debug/
INFT2051_QuickApp/INFT2051_QuickApp.Android/bin/Debug/INFT2051_QuickApp.Android.dll
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/android/assets/INFT2051_QuickApp.Android.dll
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/INFT2051_QuickApp.Android.csproj.FileListAbsolute.txt
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/INFT2051_QuickApp.Android.csprojAssemblyReference.cache
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/INFT2051_QuickApp.Android.dll
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/linkdst/INFT2051_QuickApp.Android.dll
INFT2051_QuickApp/INFT2051_QuickApp.Android/obj/Debug/81/linksrc/INFT2051_QuickApp.Android.dll
.vs/INFT2051_QuickApp/v15/.suo
INFT2051_QuickApp/INFT2051_QuickApp.Android/bin/Debug/com.companyname.INFT2051_QuickApp-Signed.apk
